<link href="../css/style.css" rel="stylesheet">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card my-3">
            <p> Written by: {{user.name}} <span class="date-tag">Date Posted:{{format_date date_created}}</span><span hidden id="post-id" value="{{id}}"></span></p>
            <h4 class="card-title border-bottom border-4">{{subject}} </h4>
            <br>
            <p>{{content_body}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <form class="form comment-form">
                <div class="form-group mb-3">
                    <label for="content" class="form-label">Add Comment</label>
                    <textarea class="form-control form-textarea" id="content" rows="3"></textarea>
                </div>
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Submit Comment</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script src="../js/addcomment.js"></script>
<script src="../js/logout.js"></script>